[package]
name = "tiny_os"
version = "0.1.0"
authors = [""]
edition = "2021"

[package.metadata]
description = "Minimal x86_64 no_std Rust kernel (tutorial scaffold)"

[dependencies]
x86_64 = "0.15.2"
bootloader = "0.9"
spin = "0.9.8"
lazy_static = { version = "1.4.0", features = ["spin_no_std"] }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
