[package]
name = "syscall_test"
version = "0.1.0"
edition = "2024"

[dependencies]
libuser = { path = "../../libuser" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
